.article{
    font-family: "Poppins";
}
.article-section{
    display: flex;
    line-height: normal;
    padding: .5em 1em;
    margin:.5em 1em; 
}

.article-section h3{
    color: #667292;
}

@media only screen and (max-width: 767px) {
    /* Your CSS rules for mobile phones go here */
    .article{
        display: block;
    }
}