.article-section{
    display: flex;
    padding: 1em 1em;
    flex-direction: column;
    gap: 2em;
    font-family: "Poppins";
    background: #cfe0e8;
}

.article-content{
    display: flex;
}
.article-left{
flex: 2;
padding: 1.5em 0.5em;
margin: 1em 1.4em;
}

.article-title{
    font-weight: 500;
    font-size: 1.8em;
    color: #667292;
    text-align: center;
}
.article-date{
    font-weight: 400;
    color: #667292;
    text-align: center;
}
.article-img{
    flex:1;
}
.article-img img{
    padding: 1em 1em;
    width: 70%;
    height: auto;
    margin-left: 2em 1em;
    
}
    
