.home{
    font-family: 'Poppins';
    display: flex;
    gap: 1em;
    background: #daebe8;
    padding: .5em .5em;

}
.home-left h3{
    font-weight: 400;
    line-height: 1.3rem;
    color:#667292;
}

.home-left h1{
    font-weight: 600;
    line-height: 1.8rem;
    color:#667292;
}

.home-left{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start;
    padding: 2em;
    margin:0, 1em;
}
.home-right{
    display: flex;
    justify-content:flex-end;
}

.home-right img{
    padding: 2em;
    width: 65%;
    height: auto;
    margin-left: 3em;
}

@media (max-width: 768px) {
    .home {
      display: block; /* Show hamburger icon on small screens */
      /* padding: .5em .5em; */
    }
    .home-right img{
        padding: .5em .5em;
        width: 80%;
        height: auto;
        margin: 0 auto;
    }
    
}
