.product-title{

background: #8d9db6;
padding: 2em 2.5em;
border: 4px solid #f1e3dd;

}
.product-title h1{ 
    /* font-size: 1.3em; */
    color: white;

}
.product-title p{ 
    font-size: 1.3em;
    color: beige;

}
.products{
background: #bccad6;
padding: 1em 1em;
}

.product-items{
    display: flex;
    gap: 2.5em;
    justify-content: space-around;
}


.product-list{
color: #2b2d35;
display: flex;
flex:1;
align-items: center;
flex-direction: column;
justify-content: start;
padding: 5px 25px;
}
.products{
    padding: 1em 3em;
    margin: 3em;
}

.product-list img{
width: 40%;
max-width: 7em;
max-width: 100%;
padding: 10px 10px;
height: auto;
}

.product-list a {
    display: block;
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    cursor: pointer; /* Change cursor to pointer */
    text-align: center;
    flex-shrink: 0;
    padding:0;
    margin:0;
  }
    .product-list a:hover {
    opacity: 0.8; /* Add hover effect */
  }
  